name: Android CI

on:
  push:
    branches: [ "main", "develop" ] # main이나 develop 브랜치에 코드가 올라갈 때
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  ci-build:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', '**/buildSrc/**/*.kt') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Generate local.properties
        run: |
          echo '${{ secrets.LOCAL_PROPERTIES }}' >> ./local.properties

      - name: Generate google-services.json
        run: |
          echo '${{ secrets.GOOGLE_SERVICES }}' >> ./app/google-services.json

      - name: Code style checks
        run: |
          ./gradlew detekt

      - name: Run build
        run: ./gradlew buildDebug --stacktrace
